<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/page.css"/>
        <% include ../compartilhados/inclui %>
    </head>
    <body>
        <!-- para navegalibidade -->
        <%- include ../compartilhados/navegacao %>
        <link rel="stylesheet" href="css/page.css">

        <!-- footer> -->
        <% include ../compartilhados/footer %>
        <script src="includes/jquery.min.js"></script>
    </body>
</html>