<!DOCTYPE html>
<html>
    <head>
        <title>Home page - links</title>
        <style>
            ul li {
                padding: 5px
            }
        </style>
    </head>
    <body>
        <h1>
            This page will have for now only the links to others pages that will be used to build the app.
            In future this page will not exists anymore in that way, there will be the correct index.ejs linked with
            all pages<br>
        </h1>
        
        <p>
            links
            <div>
                <ul class="links">
                    <li class="link-item-1">
                        <a href="mapinitial">map teste original: openlayes + openstreetmaps by celso</a>
                    </li>
                    <li class="link-item-2">
                        <a href="page2">link to page2 - only test</a>
                    </li>
                    <li class="link-item-3">
                        <a href="map1"> map leaflet by wesley </a>
                    </li>
                </ul>
            </div>
        </p>
                
    </body>
</html>