<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>map-leaflet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="mapleaflet.css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
        crossorigin=""/>    
    </head>
    <body>        
        <section id="menu-bar">
            menu bar
        </section>

        <section id="map-leaflet">

            <div class="container-map-leaflet">
                
                <div id="map-run">
                    <p> map </p>    
                </div>
            </div>
            <div class="teste">
                x
            </div>

        </section>

        <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>

        <script src="/jquery/jquery.min.js"></script>
        
        <script src="mapleaflet.js"></script>
        
        <script src="menu-leaflet-map.js"></script>
    
    </body>
</html>