div {
    border: 1px solid red;
}

#map{
   border: 2px solid #c8a88e;
    bottom: 2px;
    left: 10;
    min-width: 1024px;
    position: relative;
    top: 0px;
    width: 100%;
    height:700px;
}

.menu {
    position: absolute;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    
}

.menu-json {
    height: fit-content;
    width: fit-content;
    z-index: 10;
}

