<title>Site</title>

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Uso do bootstrap css -->
<link rel="stylesheet" href="/includes/bootstrap.min.css">

<!-- Fontes e CSS -->
<link rel="stylesheet" href="/css/spacing.css" type="text/css">

<!-- jQuery, Popper.js, e Bootstrap JS (talvez não seja usado tudo... conversaremos) -->
<script src="/includes/popper.min.js"></script>
<script src="/includes/jquery.min.js"></script>
<script src="/includes/bootstrap.min.js"></script>