body {
    background-color: #fff;
}

html {
    padding: 0;
}
#map-run {
    height: 380px;
    border-style: solid;
    border-width: 1px;    
    border-color: black;
    position: static;
    margin-top: 2px;
}

#menu-bar {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #ddd;
    border-block-end: 2px;
    position: static;
}

.teste {
    margin: 12px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #ddd;
    position: static;
    border-radius: 10px;
   
}

.one-point {
    margin: 10px;
}

.quants {
    margin-left: 50px;
    position:relative; 
    padding: 2px;
    display: inline-block;
    margin-bottom: 10px;
}

