body {
    background-color: #fff;
}

html {
    padding: 0;
}
#map-run {
    height: 380px;
    border-style: solid;
    border-width: 1px;    
    border-color: black;
    z-index: 1;
}

.menu-options-iteration {
    height: 360px;
    width: 100px;
    z-index: 2;
    position: absolute;
    background-color: aqua;
}

