<!doctype html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.0/css/ol.css" type="text/css">
        <link rel="stylesheet" type="text/css" href="../style/map.css"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.0/build/ol.js"></script>
        <title>first map</title>
    </head>
    <body>
        <h2>My Map<br></h2>
        <div id="map">
            <div class="menu">
                <div class="menu-json">
                    <ul class="clickable-item-list">
                        <!-- <% jsons.forEach ( element => { %>
                        <li> <a href="htttp://localhost:6001/api/v1/area?name=<%= element %>"> <%= element  %>  </a></li>
                        <% }) %> -->
                    </ul>
                </div>
            </div>
        </div>
        <script src="../js/ol.js"></script>
  </body>
</html>